html{

    height:100%;
}

body{

    min-height:100vh;

    margin:0;

    background:
    linear-gradient(
        135deg,
        #0B2B26 0%,
        #051f20 50%,
        #163832 100%
    );

    background-attachment:fixed;
}