html{

    height:100%;
}

body{

    min-height:100vh;
    width:100%;
    overflow-x:hidden;
    margin:0;

    background:
    linear-gradient(
        135deg,
        #0B2B26 0%,
        #051f20 50%,
        #163832 100%
    );

    background-attachment:fixed;
}
 
#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
